In [1]:
from pandas2pygal import pandas_to_pygal_Bar, colour_dict
import numpy
import pandas

In [2]:
# Create test data

dataframe = pandas.DataFrame({'minutes spent': [12, 32, 43, 12, 43, 22, 12, 32, 44, 53],
                              'activity': ['sitting', 'standing', 'sleeping', 'sitting',
                                           'standing', 'sleeping', 'sleeping', 'sitting',
                                           'standing', 'standing']})
dataframe

   minutes spent  activity
0             12   sitting
1             32  standing
2             43  sleeping
3             12   sitting
4             43  standing
5             22  sleeping
6             12  sleeping
7             32   sitting
8             44  standing
9             53  standing

In [3]:
# Create chart object

chart = pandas_to_pygal_Bar(data=dataframe,
                            groupby1='activity',
                            aggregate='minutes spent',
                            agg_type='sum',
                            colourstyle=colour_dict["DefaultStyle"],
                            title='Activity Utilization Chart',
                            horizontal=True)

In [4]:
# Render chart in browser to preview

chart.render_in_browser()

file:///var/folders/vl/m6tbf3n577342zgywv5wpz040000gn/T/tmp5ti42qto.html

In [5]:
# exporting to file
chart.render_to_file('./mychart.svg')